body {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-option {
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    margin: 10px;
    text-align: center;
}
.btn-option:hover {
    background-color: #555;
    cursor: pointer;
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.input-container input {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.send-btn {
    background-color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.upload-btn {
    border-radius: 100%; 
    cursor: pointer; 
    width: 38px; 
    height:38px;
    margin-right: 6px;
}